
/* GENERAL */

*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
}

.small-container{
    margin: 0 auto;
    max-width: 800px;
}

/* 
COLOR
*/

:root {
    --first-color: #0084FD;
    --first-color-light: #B5DDFF;
    --main-color: #9792E4;
    --text-color: #FDC15F;
    --footer-color: #333333;
}

.text-center{
    text-align: center;
    padding-bottom: 0.625rem;
}

p{
    font-size: small;
    line-height: 1.25rem;
}