/* 
ICONS
*/
.fa-bars{
    color: white;
    padding-top: 0.3125rem;
}

.card-text i{
    font-size: 3em;
    color: var(--first-color);
    padding-top: .9375rem;
}

.fa-arrow-down{
    background-color: var(--main-color);
    padding: .9375rem;
    border-radius: 50%;
    color: black;
}

.quotes-people .fa-quote-left, .fa-quote-right {
    vertical-align: super;
}
.img-container .fa-quote-left{
   color: var(--main-color);
   font-size: 4em;
}
/* 
BUTTONS-LINK
*/

header #white-button a{
    color: black;
    background-color: white;
    padding: 0.3125rem 0.5rem;
    border-radius: 3.125rem;
    font-size: 0.7em;
    white-space: nowrap;
}

main .blue-button {
    color: white;
    background-color: var(--first-color);
    padding: 0.3125rem 1.875rem;
    border-radius: 3.125rem;
    font-size: 0.8em;
    text-decoration: none;
    white-space: nowrap;
}

main .violet-button button {
    color: white;
    background-color: var(--main-color);
    padding: .625rem 2.1875rem;
    border-radius: 3.125rem;
    white-space: nowrap;
    border: none;
}

.benefit-text > a{
    text-decoration: none;
}

.get-started-button button {
    color: var(--main-color);
    background-color: white;
    padding: .9375rem 3.75rem;
    border-radius: 3.125rem;
    white-space: nowrap;
    border: none;
    font-size: medium;
}